*.aux
*.log
*.lof
*.toc
*.lot
*.brf
*.idx
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.gz

# Diretórios de compilação do LaTeX
output/
Scripts/

# Configurações do ambiente de desenvolvimento
.idea/
.vscode/

project/latex-src/fast-compile.bat
